<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Order List</h1>
  {{!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
    For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official
      DataTables documentation</a>.</p> --}}

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Detailed Order-Details</h6>
      {{!-- <a href="/admin/admin-add-banners" style="margin-top:10px ;" role="button" class="btn btn-info">Add
        Banners</a> --}}
    </div>
    <div class="card-body">

      {{#each orderDetails}}
      <div class="container-fluid">
        <div class="grid-margin stretch-card">
          <div class="card" style="height: 200px;">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <tbody style="border: none;">
                    <tr>
                      <td style="width:25px">{{inc @index}}</td>
                      <td style="width:150px">{{this.Date}}</td>
                      <td style="width:350px;font-size:15px; font-weight: 600;">{{#each this.products}}<i
                          class="far fa-dot-circle"></i>{{this.product.productname}} <br> {{/each}}</td>
                      <td style="width:150px">₹{{this.totalAmount}}.00</td>
                      <td style="width:150px">{{this.paymentMethod}}</td>
                      <td style="width:150px">
                        {{#if_eq this.status "Placed"}}
                        <span style="color:rgb(27, 231, 27)">{{this.status}}</span>
                        {{else if_eq this.status "Pending" }}
                        <span style="color:blue">{{this.status}}</span>
                        {{else if_eq this.status "Canceled"}}
                        <span style="color:red">{{this.status}}</span>
                        {{else if_eq this.status "Shipped"}}
                        <span style="color:skyblue">{{this.status}}</span>
                        {{else if_eq this.status "Out for delivery"}}
                        <span style="color:skyblue">{{this.status}}</span>
                        {{else if_eq this.status "Delivered"}}
                        <span style="color:orange">{{this.status}}</span>
                        {{/if_eq}}


                      </td>
                      <td style="width:150px"><a href="/orderedProducts/{{this._id}}" type="button"
                          class="btn btn-light">View Product</a></td>

                      {{!-- <td style="width:150px"> {{#if_eq this.status "Placed"}}<a role="button" class="btn btn-danger text-white"
                          onclick="cancelOrder('{{this._id}}')">Cancel-Order</a>
                        {{else if_eq this.status "Pending"}}<a role="button" class="btn btn-primary"
                          onclick="cancelOrder('{{this._id}}')">Cancel-Order</a>
                        {{else}}
                        <span style="color:red">Canceled</span>
                        {{/if_eq}}
                      </td> --}}

                      <td style="width:150px"> {{#if_eq this.status "Canceled"}}<span style="color:red">Canceled</span>
                        {{else if_eq this.status "Delivered"}}<span style="color:red">Delivered</span>
                        {{else}}
                        <a role="button" class="btn btn-danger text-white"
                          onclick="cancelOrder('{{this._id}}')">Cancel-Order</a>
                        {{/if_eq}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

</div>

<script>
  function cancelOrder(orderId) {
    console.log("checkkkkkk")

    Swal.fire({
      title: "Are you sure?",
      text: "Once Canceled, product will be removed from the orders!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, cancel it!'


    }).then(async (result) => {
      if (result.isConfirmed) {
         $.ajax({
          url: "/cancelOrder",
          method: "post",
          data: { orderId }
        }).then((response) => {
          if (response.cancel) {
            location.href = "/orderDetails"
          }
        })

      } else {
       await Swal.fire(
          'Canceled!',
          'Your file has been canceled.',
          'success',
        )
      }
    })
  }
</script>